{% extends 'emp_base.html' %}
{% load static %}
{% block title %}
	Add Todo
{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'addTodo.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control add-task" placeholder="title" name="title">
                        <br>
                        <textarea type="text" class="form-control add-task" placeholder="description..." name="description"></textarea>
                        <button name="add">add</button>
                    </form>
                    <hr>
                    <div class="todo-list">
                        {% if todolist %}
                            {% for todo in todolist %}
                                <div class="todo-item">
                                    <form id="todolistform" action="{% url 'changestatus' todo.id %}" method="post">
                                        {% csrf_token %}
                                        <input name="id" value="{{todo.id}}" hidden>
                                        <div class="checker"><span class=""><input type="checkbox" name="is_complete" {% if todo.is_complete %} checked{% endif %} onchange="isChecked()"></span></div>
                                        <span>{{ todo.description}}</span>
                                    </form>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const isChecked= () =>{
        document.getElementById("todolistform").submit();
    }
</script>
{% endblock %}